div.ui.progress(v-class="active : isActive, status")
    .bar(v-style="width: progress + '%'")
        content(select=".progress")
            .progress {{progress}}%
    content(select=".label")
        .label {{ isActive ? 'Running' : 'Done' }}