<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <script src="{%=o.htmlWebpackPlugin.assets.head%}"></script>
</head>
<body>
    <div id="app">
        <!-- Progress -->
        <ui-progress class="inverted indicating" value="10" total="20" v-ref="progress">
            <div class="label">Adding {{value}} of {{total}} photos</div>
        </ui-progress>

        <div id="transcoder"></div>

        <!-- Accordion -->
        <ui-accordion class="styled" v-ref="accordion">
            <a href="#" class="content">{{content}}</a>
        </ui-accordion>
    </div>
    <script src="{%=o.htmlWebpackPlugin.assets.main%}"></script>
</body>
</html>