.ui.accordion
    div(v-repeat="sections")
        .title(
                v-on="click: toggle($index)",
                v-class="active: isActive($index)"
            )
            content(select=".title")
                i.dropdown.icon
                | {{* title}}
        .content(v-show="isActive($index)", v-transition="scale")
            content(select=".content") {{* content}}