.ui.accordion
    div(v-repeat="sections")
        .title(
                v-on="click: toggle($index)",
                v-class="active: isActive($index)"
            ) {{* title}}
        .content(v-class="active: isActive($index)") {{* content}}