.ui.accordion(v-el="accordion")
    div(v-repeat="sections")
        .title: content(select=".title")
                    i.dropdown.icon
                    | {{* title}}
        .content(class="{{ active === $index ? 'active' : '' }}"): content(select=".content") {{* content}}
