.ui.modal(v-el="modal", v-class="type, size")
    i.close.icon
    .header: content(select=".header") {{* title}}
    content(select=".content")
    .actions: content(select=".actions")
        .ui.negative.button Cancel
        .ui.positive.right.labeled.icon.button
            | OK
            i.checkmark.icon